#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.components {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  width: 90%;
}

@media (prefers-reduced-motion: no-preference) {

}
